#wrapper{font-family: tahoma;}
.container
{
    width: 95%;
    margin:0 auto;
}
#subheader
{
    width: 100%;
    height: 100px;
    background: black;
    color: white;
    margin-top: 5px;
}
#sidelogo
{
    float: left;
}
#sidelogo img
{
    margin-top: 5px;
    height: 90px;
    width: 200px;
}
#subheader a
{
    float: right;
    line-height: 30px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 35px;
    font-family: 'Metal Mania', cursive;
    font-size: 25px;
}
#subheader a:hover
{
    transition: 0.1s;
    color: grey;
}
/*search*/
#search
{
    float: left;
    padding-left: 250px;
    margin: 30px auto;
}
#search input.search_box
{
    width: 300px;
    height: 35px;
}
#search input.search_logo
{
    height: 33px;
    color: white;
    background: black;
    margin-left: -5px;
    border-radius: 3px;
    font-family: tahoma;
}
#covid19
{
    text-align: center;
    margin: 0 auto;
    border-style: solid;
}
button
{
    width: 100%;
    height: 45px;
    background: grey;
    color: white;
}
#footer
{
    margin-top: 35px;
    width: 100%;
    height: 300px;
    background: black;
    color: white;
    float: left;
}
.footer_sub
{
    width: 25%;
    float: left;
    margin-top: 50px;
}
.footer_sub a
{
    color: white;
}
.footer_sub a:hover
{
    transition: 0.1s;
    color: grey;
}
.footer_sub_2
{
    width: 25%;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
}
.email
{
    width: 200px;
    border: none;
    height: 50px;
    padding: 15px;
}
.submit
{
    height: 50px;
    border: none;
    background: orange;
}
.sub
{
    color: lightgrey;
    font-style: italic;
    font-size: 12px;
}
.copyright
{
    padding-top: 100px;
    color: lightgrey;
    font-style: italic;
    text-align: center;
    font-size: 12px;
    padding-left: 150px;
}
#heading
{
   width: 100%;
   height: auto;
   float: left;
   color: black; 
   font-size: 20px;
   background: gainsboro;
   margin-bottom: 20px;
   margin-top: 5px;
}
#heading h2
{
    line-height: 45px;
    border-left: 15px solid #000000;
    padding-left: 10px;
}
table img
{
    width: 300px;
    height: 355px;
}